.producto-content
	portada(id="ctrl.producto.id" conector="ctrl.conexion()")
	.titulo-producto
		h1{{ctrl.producto.nombre}}
	.info-basica
		.informacion
			.nombre
				//h4 CUCHARA P/ALBAÑILT/FILADEL10CT-10
				h4 {{ctrl.actual.nombre}}
			.precio
				h1 ${{ctrl.actual.precio}}
		.version-container
			.version(ng-repeat="version in ctrl.producto.versiones" ng-if="ctrl.producto.versiones" )
				md-button.opciones(ng-class="{ 'active' : version.active }")
					.opcion(ng-repeat="opcion in version.opciones" ng-click="ctrl.producto.versionSeleccionada(version)")
						span {{opcion.nombre}}				
		.boton
			md-button(ui-sref="producto({ id : ctrl.producto.id })") agregar al carrito
