.producto-content
	portada(id="ctrl.producto.id" conector="ctrl.conexion()")
	.titulo-producto
		h1{{ctrl.producto.nombre}}
	.info-basica
		.informacion
			.nombre
				h4 CUCHARA P/ALBAÑILT/FILADEL10CT-10
			.precio
				h1 $200.°°
		.version-container
			.version(ng-repeat="version in ctrl.producto.versiones" ng-if="ctrl.producto.versiones")
				.opciones
					md-button.opcion(ng-repeat="opcion in version.opciones")
						span {{opcion.nombre}}				
		.boton
			md-button(ui-sref="producto({ id : ctrl.producto.id })") agregar al carrito
