.producto-content
	.portada-producto
	.titulo-producto
		h1{{ctrl.producto.nombre}}
	.info-basica
		.informacion
			.nombre
				h4 CUCHARA P/ALBAÑILT/FILADEL10CT-10 CUCHARA P/ALBAÑILT/FILADEL10CT-10
			.precio
				h1 $200.°°
		.version-container
			//.version(ng-repeat="version in ctrl.producto.versiones" ng-if="ctrl.producto.versiones")
			//	md-button ${{ version.precio }}
			.version
				md-button 54x20cm
			.version
				md-button 15x40cm
			.version
				md-button 16x39cm
			.version
				md-button 15x40cm
			.version
				md-button 35x90cm
			.version
				md-button 85x05cm
			.version
				md-button 75x15cm
				
		.boton
			md-button(ui-sref="producto({ id : ctrl.producto.id })") agregar al carrito
			
//- .producto-content
//- 	//.bandera(ng-if="ctrl.producto.promociones.length > 0")
//- 	//portada(id="ctrl.producto.id" conector="ctrl.conexion()")
//- 	.portada
//- 	.titulo {{ctrl.producto.nombre}}
//- 	.spinner(ng-if="ctrl.producto.focus && !ctrl.producto.versiones" )
//- 		md-progress-circular(md-mode="indeterminate" ng-disabled="!ctrl.producto.versiones" md-diameter="50")
//- 	.versiones
//- 		.version(ng-repeat="version in ctrl.producto.versiones" ng-if="ctrl.producto.versiones")
//- 			.version-content
//- 
//- 				.detalles
//- 					.opciones
//- 						md-button.opcion(ng-repeat="opcion in version.opciones")
//- 							span {{opcion.nombre}}
//- 							md-tooltip
//- 								span(ng-repeat="atributo in ctrl.atributos" ng-if="atributo.id === opcion.IdAtributo") {{atributo.nombre}} 
//- 					//- .colores
//- 					//- 	md-button.color(ng-repeat="color in version.colores" style=" background-color : {{ color.hex }} ")
//- 					//- 		md-tooltip {{color.nombre}}
//- 				.existencia
//- 					strong {{ version.existencia }}  
//- 					span   disponibles
//- 			.precio-container(ng-class="{false : 'normal', true : 'oferta'}[version.oferta]")
//- 				div    
//- 					.precio(ng-if="version.precio") $ {{ version.precio }}
//- 					.descuento(ng-if="version.descuento") $ {{ version.precio - (( version.descuento / 100 ) *  version.precio) | number:0 }}
//- 				md-progress-circular(md-mode="indeterminate" ng-if="!version.precio" md-diameter="15")
//- 	.boton
//- 		//md-button(ui-sref="producto({ id : ctrl.producto.id })") agregar al carrito
//- 		md-button(ui-sref="producto({ id : ctrl.producto.id })") agregar al carrito
