transition(duracion, delay)
	-webkit-transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
	transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
	-webkit-transition-delay delay ease-in-out
	transition-delay delay ease-in-out

animation(animation, duration = 1s, delay = 0s)
	-webkit-animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950)
	animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950)
	-webkit-transition all duration ease-in-out
	-moz-transition all duration ease-in-out
	-o-transition all duration ease-in-out
	transition all duration ease-in-out
	-webkit-transition-delay delay ease-in-out
	transition-delay delay ease-in-out

naranja = #ff6400
negro = #343434
.nav
	display flex
	justify-content center
	align-items center
	.nav-content
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		width 60%
		.logo
			width 70px
			height 70px
			margin-top 15px
			cursor pointer
			&:focus
				outline 0px
			img
				width 100%
				height 100%
		.busqueda
			display flex
			flex-direction row
			justify-content center
			align-items center
			width 50%
			md-icon
				color naranja
			md-autocomplete
				margin-left 10px
		.botones
			display flex
			flex-direction row
			justify-content center
			align-items center
			.sesion
				width 65px
				height 40px
				margin-right 15px
				margin-left 10px
				cursor pointer
				&:focus
					outline 0px
				p
					font-size 11px
					text-align justify
			.linea
				height 30px
				border 0.5px solid gray
			.carrito
				background-color naranja
				width 36px
				height 30px
				display flex
				justify-content center
				align-items center
				min-width inherit
				min-height inherit
				margin 2px
				margin-left 15px
				img
					height 25px
			.contador
				background-color negro
				width 30px
				height 30px
				display flex
				justify-content center
				align-items center
				h3
					color white
footer
	background-color naranja
	.contenedor-abajo
		display flex
		flex-direction  row
		justify-content space-around
		align-items center
		.copyrigth
			display flex
			flex-direction column
			p
				color white
				font-size 10px
				margin 5px
			.aviso
				display flex
				flex-direction row
				justify-content flex-start
				.md-button
					min-height inherit
					min-width inherit
					line-height inherit
					margin 0 !important
					margin-top 5px
					span
						font-size 10px
						color white
						text-transform capitalize
				.linea-abajo
					margin-top 1px
					height 8px
					border 0.5px solid white
		.contactos
			display flex
			flex-direction row
			justify-content space-between
			align-items center
			width 25%
			margin-right 10vw
			.correo, .telefono
				display flex
				flex-direction row
				justify-content center
				align-items center
				p
					margin 0px
					color white
					font-size 10px
					font-weight bolder
		.imagen
			background-color white
			width 10%
			display flex
			justify-content center
			align-items center
