main {
  position: relative;
  min-height: 100vh;
  overflow-x: hidden;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 60%;
}
.nav .nav-content .logo {
  width: 80px;
  height: 80px;
  margin-top: 15px;
  cursor: pointer;
}
.nav .nav-content .logo:focus {
  outline: 0px;
}
.nav .nav-content .logo img {
  width: 100%;
  height: 100%;
}
.nav .nav-content .busqueda {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
.nav .nav-content .busqueda md-icon {
  color: #ff6400;
}
.nav .nav-content .busqueda md-autocomplete {
  margin-left: 10px;
}
.nav .nav-content .busqueda md-autocomplete input:not(.md-input) {
  font-size: 19px;
}
.nav .nav-content .botones {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.nav .nav-content .botones .sesion {
  width: 68px;
  height: 40px;
  margin-right: 15px;
  margin-left: 10px;
  cursor: pointer;
}
.nav .nav-content .botones .sesion:focus {
  outline: 0px;
}
.nav .nav-content .botones .sesion p {
  font-size: 12px;
  text-align: justify;
}
.nav .nav-content .botones .linea {
  height: 30px;
  border: 0.5px solid #808080;
}
.nav .nav-content .botones .carrito {
  background-color: #ff6400;
  width: 36px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: inherit;
  min-height: inherit;
  margin: 2px;
  margin-left: 15px;
}
.nav .nav-content .botones .carrito img {
  height: 25px;
}
.nav .nav-content .botones .contador {
  background-color: #343434;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav .nav-content .botones .contador h3 {
  color: #fff;
}
.subnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 54px;
  background-color: #ff6400;
}
.subnav .md-button span {
  color: #fff;
  font-size: 14px;
  font-weight: bolder;
}
footer {
  background-color: #ff6400;
}
footer .contenedor-abajo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer .contenedor-abajo .copyrigth {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}
footer .contenedor-abajo .copyrigth p {
  color: #fff;
  font-size: 11px;
  margin: 5px;
}
footer .contenedor-abajo .copyrigth .aviso {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
footer .contenedor-abajo .copyrigth .aviso .md-button {
  min-height: inherit;
  min-width: inherit;
  line-height: inherit;
  margin: 0 !important;
  margin-top: 5px;
}
footer .contenedor-abajo .copyrigth .aviso .md-button span {
  font-size: 11px;
  color: #fff;
  text-transform: capitalize;
}
footer .contenedor-abajo .copyrigth .aviso .linea-abajo {
  margin-top: 1px;
  height: 8px;
  border: 0.5px solid #fff;
}
footer .contenedor-abajo .contactos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 25%;
  margin-right: 10vw;
}
footer .contenedor-abajo .contactos .correo,
footer .contenedor-abajo .contactos .telefono {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
footer .contenedor-abajo .contactos .correo p,
footer .contenedor-abajo .contactos .telefono p {
  margin: 0px;
  color: #fff;
  font-size: 12px;
  font-weight: bolder;
}
footer .contenedor-abajo .imagen {
  background-color: #fff;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container .home-content .sliderSub-content {
  position: relative;
  background-color: #343434;
  height: 450px;
}
.home-container .home-content .sliderSub-content .promocion-slider-container {
  display: flex;
  flex-direction: row;
}
.home-container .home-content .sliderSub-content .promocion-slider-container .promocion-slider-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container .home-content .sliderSub-content .promocion-slider-container .promocion-slider-content:focus {
  outline: 0px;
}
.home-container .home-content .sliderSub-content .promocion-slider-container .promocion-slider-content .promocion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 100%;
}
.home-container .home-content .sliderSub-content .promocion-slider-container .promocion-slider-content .promocion h1 {
  color: #fff;
  font: size 50px;
}
.home-container .home-content .sliderSub-content .promocion-slider-container .promocion-slider-content .promocion .botones {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 24%;
}
.home-container .home-content .sliderSub-content .promocion-slider-container .promocion-slider-content .promocion .botones .md-button {
  width: 133px;
  min-height: inherit;
  min-width: inherit;
  line-height: 28px;
  background-color: #ff6400;
}
.home-container .home-content .sliderSub-content .promocion-slider-container .promocion-slider-content .promocion .botones .md-button span {
  font-size: 14px;
  color: #fff;
  font-weight: bolder;
  text-transform: capitalize;
}
.home-container .home-content .sliderSub-content .slick-dots {
  bottom: 11px !important;
}
.home-container .home-content .sliderSub-content .slick-dots li.slick-active button:before {
  color: #ff6400 !important;
  opacity: inherit !important;
}
.home-container .home-content .sliderSub-content .slick-dots li button:before {
  opacity: inherit !important;
  color: #fff !important;
}
.home-container .home-content .promociones-container {
  position: relative;
}
.home-container .home-content .promociones-container .promociones-content {
  position: relative;
  margin: 3vh 10vw;
  width: 80vw;
}
.home-container .home-content .promociones-container .promociones-content .linea-promos {
  width: 100%;
  opacity: 0.3;
  border: 0.5px solid #808080;
}
.home-container .home-content .promociones-container .promociones-content .titulo {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.home-container .home-content .promociones-container .promociones-content .titulo h1 {
  font-size: 50px;
  color: #ff6400;
  font-weight: 400;
  margin: 0;
  margin-left: 2px;
}
.home-container .home-content .promociones-container .promociones-content .promo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 2vh;
}
.home-container .home-content .promociones-container .promociones-content .promo-container .promo-content {
  display: flex;
  flex-direction: column;
  width: 48%;
}
.home-container .home-content .promociones-container .promociones-content .promo-container .promo-content .imagen-promo {
  background-color: #808080;
  height: 25%;
}
.home-container .home-content .promociones-container .promociones-content .promo-container .promo-content .informacion-promo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.home-container .home-content .promociones-container .promociones-content .promo-container .promo-content .informacion-promo .descripcion {
  height: 80px;
  width: 1445px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #808080;
  margin-top: 2vh;
  margin-right: 5px;
}
.home-container .home-content .promociones-container .promociones-content .promo-container .promo-content .informacion-promo .descripcion .texto {
  width: 75%;
  margin-right: 60px;
}
.home-container .home-content .promociones-container .promociones-content .promo-container .promo-content .informacion-promo .descripcion .texto p {
  font-size: 12px;
  text-align: justify;
}
.home-container .home-content .promociones-container .promociones-content .promo-container .promo-content .informacion-promo .cuadrado {
  background-color: #ff6400;
  width: 310px;
  height: 80px;
  margin-top: 2vh;
  margin-left: 5px;
}
.home-container .home-content .categorias-container {
  margin-top: 4vh;
  position: relative;
}
.home-container .home-content .categorias-container .categorias-content {
  position: relative;
  margin: 3vh 10vw;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.home-container .home-content .categorias-container .categorias-content .linea-categorias {
  width: 100%;
  opacity: 0.3;
  border: 0.5px solid #808080;
}
.home-container .home-content .categorias-container .categorias-content .titulo {
  margin: 2vh;
  width: 100%;
}
.home-container .home-content .categorias-container .categorias-content .titulo h1 {
  font-size: 50px;
  color: #343434;
  font-weight: 600;
  margin: 0;
}
.home-container .home-content .categorias-container .categorias-content .sliderCategorias-content {
  position: relative;
  height: 240px;
  width: 77%;
}
.home-container .home-content .categorias-container .categorias-content .sliderCategorias-content .categorias-slider-container {
  display: flex;
  flex-direction: row;
}
.home-container .home-content .categorias-container .categorias-content .sliderCategorias-content .categorias-slider-container .categorias-slider-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-container .home-content .categorias-container .categorias-content .sliderCategorias-content .categorias-slider-container .categorias-slider-content:focus {
  outline: 0px;
}
.home-container .home-content .categorias-container .categorias-content .sliderCategorias-content .categorias-slider-container .categorias-slider-content .categoria {
  width: 90%;
  height: 100%;
}
.home-container .home-content .categorias-container .categorias-content .sliderCategorias-content .categorias-slider-container .categorias-slider-content .categoria .imagen-categoria {
  display: flex;
  height: 200px;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff6400;
}
.home-container .home-content .categorias-container .categorias-content .sliderCategorias-content .categorias-slider-container .categorias-slider-content .categoria .imagen-categoria h1 {
  font-size: 14px;
  text-align: center;
}
.home-container .home-content .categorias-container .categorias-content .sliderCategorias-content .categorias-slider-container .categorias-slider-content .categoria .ver-mas {
  width: 100%;
}
.home-container .home-content .categorias-container .categorias-content .sliderCategorias-content .categorias-slider-container .categorias-slider-content .categoria .ver-mas .md-button {
  width: 100%;
  margin: inherit !important;
  min-height: inherit;
  min-width: inherit;
  line-height: 29px;
  background-color: #ff6400;
  border-radius: inherit !important;
}
.home-container .home-content .categorias-container .categorias-content .sliderCategorias-content .categorias-slider-container .categorias-slider-content .categoria .ver-mas .md-button span {
  font-size: 14px;
  color: #fff;
  text-transform: capitalize;
  font-weight: bolder;
}
.home-container .home-content .categorias-container .categorias-content .sliderCategorias-content .categorias-slider-container .slick-prev:before,
.home-container .home-content .categorias-container .categorias-content .sliderCategorias-content .categorias-slider-container .slick-next:before {
  color: #ff6400 !important;
  font-size: 36px;
  font-family: inherit !important;
  font-weight: bolder;
  opacity: 1 !important;
}
.home-container .home-content .categorias-container .categorias-content .sliderCategorias-content .categorias-slider-container .slick-prev:before {
  content: "<" !important;
}
.home-container .home-content .categorias-container .categorias-content .sliderCategorias-content .categorias-slider-container .slick-next:before {
  content: ">" !important;
}
.home-container .home-content .mas-vendidos-container {
  position: relative;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content {
  position: relative;
  margin: 3vh 10vw;
  width: 80vw;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .linea-mas-vendidos {
  width: 100%;
  opacity: 0.3;
  border: 0.5px solid #808080;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .titulo {
  margin: 2vh;
  width: 100%;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .titulo h1 {
  font-size: 50px;
  color: #343434;
  font-weight: 600;
  margin: 0;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container {
  display: flex;
  flex-direction: column;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba {
  margin-bottom: 15px;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo {
  margin-top: 15px;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo {
  display: flex;
  flex-direction: row;
  height: 25%;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba>*,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo>* {
  -webkit-transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba .vendidos-content,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo .vendidos-content {
  background-color: #808080;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba .vendidos-content:focus,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo .vendidos-content:focus {
  outline: 0px;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba .vendidos-content:hover,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo .vendidos-content:hover {
  transform: scale(1.048);
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba .vendidos-content .imagen-vendidos,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo .vendidos-content .imagen-vendidos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #808080;
  width: 100%;
  height: 100%;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba .vendidos-content .botones-vendidos,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo .vendidos-content .botones-vendidos {
  position: absolute;
  bottom: 1px;
  width: 100%;
  height: 66px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #343434;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba .vendidos-content .botones-vendidos .info-content,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo .vendidos-content .botones-vendidos .info-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba .vendidos-content .botones-vendidos .info-content .descripcion,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo .vendidos-content .botones-vendidos .info-content .descripcion {
  margin-left: 24px;
  width: 60%;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba .vendidos-content .botones-vendidos .info-content .descripcion p,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo .vendidos-content .botones-vendidos .info-content .descripcion p {
  font-size: 12px;
  color: #fff;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba .vendidos-content .botones-vendidos .info-content .boton-vermas .md-button,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo .vendidos-content .botones-vendidos .info-content .boton-vermas .md-button {
  min-height: inherit;
  min-width: inherit;
  line-height: 28px;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba .vendidos-content .botones-vendidos .info-content .boton-vermas .md-button span,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo .vendidos-content .botones-vendidos .info-content .boton-vermas .md-button span {
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: bolder;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba .vendidos-content .botones-vendidos .carrito-vendidos,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo .vendidos-content .botones-vendidos .carrito-vendidos {
  width: 15%;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba .vendidos-content .botones-vendidos .carrito-vendidos .md-button,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo .vendidos-content .botones-vendidos .carrito-vendidos .md-button {
  width: 100%;
  height: 100%;
  min-height: inherit;
  min-width: inherit;
  line-height: 28px;
  background-color: #ff6400;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-arriba .vendidos-content .botones-vendidos .carrito-vendidos .md-button img,
.home-container .home-content .mas-vendidos-container .mas-vendidos-content .grid-vendidos-container .grid-vendidos-abajo .vendidos-content .botones-vendidos .carrito-vendidos .md-button img {
  margin-right: 8px;
  height: 33px;
}
.productos {
  position: relative;
}
.productos .barra-nombres-container {
  height: 56px;
  width: 100%;
  background-color: #343434;
}
.productos .barra-nombres-container .barra-nombres-content {
  height: 56px;
  margin: 0vh 10vw;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.productos .barra-nombres-container .barra-nombres-content p {
  color: #fff;
}
.productos .barra-nombres-container .barra-nombres-content .md-button {
  min-height: inherit;
  min-width: inherit;
  width: 36px;
  height: 30px;
}
.productos .barra-nombres-container .barra-nombres-content .md-button img {
  height: 25px;
}
.productos .productos-content {
  position: relative;
  margin: 3vh 10vw;
  width: 80vw;
  display: flex;
  flex-direction: row;
}
.productos .productos-content .filtro {
  width: 350px;
  background-color: #fff;
  padding: 0px 10px;
  border-right: 1px solid rgba(0,0,0,0.1);
}
.productos .productos-content .filtro .linea-productos {
  width: 100%;
  opacity: 0.3;
  border: 1.5px solid #808080;
  margin-top: 10px;
  background-color: #808080;
}
.productos .productos-content .filtro h4 {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
}
.productos .productos-content .filtro .categorias-panel {
  margin-top: 20px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel-collapsed,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel-header,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group .md-expansion-panel-header-container {
  height: 50px;
  min-height: 50px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel {
  box-shadow: inherit;
  margin: 0px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-header {
  width: 100%;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-header .md-expansion-panel-header-container {
  padding: 0px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-header .md-expansion-panel-header-container md-icon {
  margin: 0px 5px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-header .md-expansion-panel-header-container .md-title {
  font-size: 16px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-collapsed {
  padding: 0px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-collapsed md-expansion-panel-header .md-expansion-panel-header-container {
  background-color: #ff6400;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-collapsed md-expansion-panel-header .md-expansion-panel-header-container .md-title {
  color: #fff;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-header .md-expansion-panel-header-container {
  border: none;
  background-color: #ff6400;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-header .md-expansion-panel-header-container .md-title {
  padding-left: 20px;
  color: #fff;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content {
  padding: 0px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list md-list-item,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list .md-list-item-inner {
  height: 20px;
  min-height: 20px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list md-list-item .md-list-item-text,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list .md-list-item-inner .md-list-item-text {
  display: flex;
  align-items: center;
  line-height: 20px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list md-list-item .md-list-item-text md-checkbox,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list .md-list-item-inner .md-list-item-text md-checkbox {
  margin: 0 5px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list md-list-item .md-list-item-text md-checkbox,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list .md-list-item-inner .md-list-item-text md-checkbox,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list md-list-item .md-list-item-text .md-container,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list .md-list-item-inner .md-list-item-text .md-container,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list md-list-item .md-list-item-text .md-icon,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list .md-list-item-inner .md-list-item-text .md-icon {
  min-height: 13px;
  min-width: 13px;
  height: 13px;
  width: 13px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list md-list-item .md-list-item-text md-checkbox .md-icon:after,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list .md-list-item-inner .md-list-item-text md-checkbox .md-icon:after,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list md-list-item .md-list-item-text .md-container .md-icon:after,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list .md-list-item-inner .md-list-item-text .md-container .md-icon:after,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list md-list-item .md-list-item-text .md-icon .md-icon:after,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list .md-list-item-inner .md-list-item-text .md-icon .md-icon:after {
  left: 2.66667px;
  top: 0.22222px;
  height: 8.33333px;
  width: 4.66667px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list md-list-item .md-list-item-text md-checkbox.md-checked .md-icon,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list .md-list-item-inner .md-list-item-text md-checkbox.md-checked .md-icon {
  background-color: rojo1;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list md-list-item .md-list-item-text .color,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list .md-list-item-inner .md-list-item-text .color {
  height: 15px;
  width: 15px;
  margin: 0 3px;
  border: 1px solid rgba(0,0,0,0.1);
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list md-list-item .md-list-item-text span,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list .md-list-item-inner .md-list-item-text span {
  font-size: 12px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list md-list-item md-checkbox,
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-content md-list .md-list-item-inner md-checkbox {
  margin: 0px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-footer .md-expansion-panel-footer-container {
  border: none;
  display: flex;
  justify-content: center;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-footer .md-expansion-panel-footer-container .md-button {
  margin: 0px;
  min-width: 0px;
  width: 100%;
  height: 20px;
}
.productos .productos-content .filtro .categorias-panel md-expansion-panel-group md-expansion-panel md-expansion-panel-expanded md-expansion-panel-footer .md-expansion-panel-footer-container .md-button md-icon {
  color: #ff6400;
  transform: scale(1.3);
}
.productos .productos-content .grid-container {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 50px;
}
.productos .productos-content .grid-container .titulo {
  margin-top: 19px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.productos .productos-content .grid-container .titulo h4 {
  font-size: 20px;
  font-weight: bolder;
  margin: 0;
}
.productos .productos-content .grid-container .titulo .cabecera {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.productos .productos-content .grid-container .titulo .cabecera .md-button {
  margin-top: 20px !important;
  min-height: inherit;
  min-width: inherit;
  background-color: #ff6400;
  color: #fff;
  margin: 0;
  height: 40px;
  width: 50px;
  border-radius: inherit !important;
}
.productos .productos-content .grid-container .titulo .cabecera .md-button md-icon {
  color: #fff;
  font-size: 27px;
  font-weight: 600;
}
.productos .productos-content .grid-container .titulo .cabecera .ordenamiento {
  margin-top: 20px;
  position: relative;
  display: block;
  width: 20em;
  height: 2.5em;
  line-height: 3;
  background: #343434;
  overflow: hidden;
  border-radius: 0.25em;
}
.productos .productos-content .grid-container .titulo .cabecera .ordenamiento select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #343434;
  background-image: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.5em;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  font-weight: bolder;
}
.productos .productos-content .grid-container .titulo .cabecera .ordenamiento:hover::after {
  color: #ff6400;
}
.productos .productos-content .grid-container .titulo .cabecera .ordenamiento::after {
  -webkit-transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: all ease-in-out;
  transition-delay: all ease-in-out;
  content: '\25BC';
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #262626;
  pointer-events: none;
}
.productos .productos-content .grid-container .paginas-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.productos .productos-content .grid-container .paginas-container .total-paginas p {
  font-size: 16px;
  color: #808080;
}
.productos .productos-content .grid-container .paginas-container .resultados {
  display: flex;
  flex-direction: row;
}
.productos .productos-content .grid-container .paginas-container .resultados h4 {
  font-size: 16px;
  font-weight: bolder;
  margin-right: 16px;
}
.productos .productos-content .grid-container .paginas-container .resultados .select-paginas {
  margin-top: 13px;
  position: relative;
  display: block;
  width: 104px;
  height: 32px;
  line-height: 3;
  border: 0.7px solid #ff6400;
  overflow: hidden;
}
.productos .productos-content .grid-container .paginas-container .resultados .select-paginas select {
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: transparent;
  background-image: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0 0 0 0.5em;
  cursor: pointer;
  font-size: 18px;
}
.productos .productos-content .grid-container .paginas-container .resultados .select-paginas::after {
  -webkit-transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.25s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: all ease-in-out;
  transition-delay: all ease-in-out;
  content: '\25BC';
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  border-left: 0.7px solid #ff6400;
  border-top: 0.7px solid #ff6400;
  border-right: 0.7px solid #ff6400;
  pointer-events: none;
  width: 10px;
}
.productos .productos-content .grid-container .grid-content {
  margin: 30px;
  margin-bottom: 100px;
}
.productos .productos-content .grid-container .grid-content md-grid-list {
  width: 150%;
}
.productos .productos-content .grid-container .grid-content md-grid-list md-grid-tile {
  -webkit-transition: all 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 250ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
  overflow: hidden;
  cursor: pointer;
}
.productos .productos-content .grid-container .grid-content md-grid-list md-grid-tile .producto-container {
  padding: 10px;
  width: 100%;
  height: 100%;
}
.productos .productos-content .grid-container cl-paging {
  width: 100%;
  display: flex;
}
.productos .productos-content .grid-container cl-paging justify-content center .paginacion {
  width: 80%;
  display: flex;
  justify-content: center;
}
.productos .productos-content .grid-container cl-paging justify-content center .paginacion .md-button {
  max-width: 40px;
  color: #fff;
}
.productos .productos-content .grid-container cl-paging justify-content center .paginacion .md-button md-icon {
  color: #fff;
}
.productos .productos-content .grid-container cl-paging justify-content center .paginacion .md-button.previous,
.productos .productos-content .grid-container cl-paging justify-content center .paginacion .md-button.next {
  background-color: #ff6400;
}
.productos .productos-content .grid-container cl-paging justify-content center .paginacion .md-button.first,
.productos .productos-content .grid-container cl-paging justify-content center .paginacion .md-button.last {
  background-color: #ff6400 !important;
}
.productos .productos-content .grid-container cl-paging justify-content center .paginacion .md-button.active {
  background-color: #343434 !important;
}
.productos .productos-content .grid-container cl-paging justify-content center .paginacion .md-button.page {
  background-color: #ff6400;
}
producto .producto-content {
  border: 1px solid #003143;
}
producto .producto-content .portada-producto img {
  width: 100%;
}
producto .producto-content .titulo-producto h1 {
  font-family: Poopins;
  font-size: 12px;
  line-height: 13px;
  margin: 3px 5px;
}
producto .producto-content .info-basica {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
producto .producto-content .info-basica .informacion {
  display: flex;
  flex-direction: column;
}
producto .producto-content .info-basica .informacion .nombre h4 {
  font-size: 10px;
}
producto .producto-content .info-basica .informacion .precio h1 {
  font-size: 10px;
}
producto .producto-content .versiones {
  padding: 0 10px;
}
producto .producto-content .versiones .version {
  display: flex;
  flex-direction: row;
  margin: 3px 0;
  min-height: 30px;
}
producto .producto-content .versiones .version .version-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
producto .producto-content .versiones .version .version-content .detalles {
  display: flex;
  width: 100%;
  flex-direction: row;
}
producto .producto-content .versiones .version .version-content .detalles .md-button {
  margin: 0px;
  padding: 0px;
  line-height: 20px;
  height: 20px;
  margin: 0 2px;
}
producto .producto-content .versiones .version .version-content .detalles .opciones .md-button.opcion {
  font-size: 12px;
  font-family: Calibri;
  font-weight: 800;
  min-width: 15px;
  min-height: 15px;
  height: 15px;
  border-radius: 0px;
}
producto .producto-content .versiones .version .version-content .existencia {
  width: 100%;
  display: flex;
}
producto .producto-content .versiones .version .version-content .existencia strong {
  margin-left: 2px;
  font-size: 9px;
}
producto .producto-content .versiones .version .version-content .existencia span {
  font-size: 7px;
  line-height: 12px;
}
producto .producto-content .versiones .version .precio-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
producto .producto-content .versiones .version .precio-container>div {
  width: 100%;
  text-align: end;
}
producto .producto-content .versiones .version .precio-container.oferta .precio {
  text-decoration: line-through;
  font-size: 11px;
  color: azul1;
}
producto .producto-content .versiones .version .precio-container.oferta .descuento {
  font-size: 15px;
  color: rojo1;
}
producto .producto-content .versiones .version .precio-container.normal .precio {
  color: azul1;
}
producto .producto-content .versiones .version .precio-container.normal .descuento {
  display: none;
}
producto .producto-content .boton {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 7px;
}
producto .producto-content .boton .md-button {
  background-color: #ff6400;
  color: #fff;
  margin: 0px;
  min-height: 20px;
  height: 20px;
  min-width: inherit;
  width: 88%;
  line-height: 20px;
}
producto .producto-content .boton .md-button span {
  font-size: 12px;
  text-transform: lowercase;
}
.producto .slick-slider .slick-arrow {
  height: 40px;
  width: 40px;
}
.producto section.producto-content {
  display: flex;
  flex-direction: row;
  margin-top: 100px;
  justify-content: space-around;
}
.producto section.producto-content .imagenes {
  border: 1px solid #000;
  width: 500px;
  height: 400px;
  min-width: 500px;
  display: flex;
  flex-direction: row;
}
.producto section.producto-content .imagenes .portada,
.producto section.producto-content .imagenes .imagen {
  cursor: pointer;
}
.producto section.producto-content .imagenes .portada:focus,
.producto section.producto-content .imagenes .imagen:focus {
  outline: 0px;
}
.producto section.producto-content .imagenes .portada:hover img,
.producto section.producto-content .imagenes .imagen:hover img {
  transform: scale(0.9);
}
.producto section.producto-content .imagenes .portada img,
.producto section.producto-content .imagenes .imagen img {
  -webkit-transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 500ms cubic-bezier(0.445, 0.05, 0.55, 0.95);
  -webkit-transition-delay: 0 ease-in-out;
  transition-delay: 0 ease-in-out;
}
.producto section.producto-content .imagenes #central {
  width: calc(100% - 100px);
  height: 200px;
}
.producto section.producto-content .imagenes #central .slick-slide,
.producto section.producto-content .imagenes #central .portada,
.producto section.producto-content .imagenes #central .imagen {
  display: flex;
  justify-content: center;
}
.producto section.producto-content .imagenes #central .slick-slide img,
.producto section.producto-content .imagenes #central .portada img,
.producto section.producto-content .imagenes #central .imagen img {
  height: 100%;
  width: auto;
}
.producto section.producto-content .imagenes #slider {
  width: 80px !important;
  margin-top: 5px;
}
.producto section.producto-content .imagenes #slider .slick-dots {
  padding: 0px;
  bottom: 0px;
}
.producto section.producto-content .imagenes #slider .slick-dots li button:before {
  content: none;
}
.producto section.producto-content .imagenes #slider .slick-slide,
.producto section.producto-content .imagenes #slider .portada,
.producto section.producto-content .imagenes #slider .imagen {
  max-height: 80px;
}
.producto section.producto-content .informacion {
  width: 45%;
  display: flex;
  flex-direction: row;
}
.producto section.producto-content .informacion .informacion-content {
  width: 100%;
}
.producto section.producto-content .informacion .informacion-content .titulo {
  margin-bottom: 20px;
}
.producto section.producto-content .informacion .informacion-content .titulo h1 {
  margin: 0px;
  color: #808080;
  font-size: 25px;
  font-weight: 100;
}
.producto section.producto-content .informacion .informacion-content md-list {
  max-width: 400px;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item {
  height: inherit;
  min-height: inherit;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0,0,0,0.1);
  border-left: 0px;
  border-right: 0px;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item:first-child {
  border-top: inherit;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item:last-child {
  border-bottom: inherit;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item:before {
  min-height: inherit;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .nombre-version span {
  width: 100%;
  font-size: 12px;
  font-weight: 800;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .precio {
  display: flex;
  justify-content: flex-start;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .precio h3 {
  color: #ff6400;
  font-weight: bolder;
  font-size: 30px;
  margin: 0;
  margin-top: 10px;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .botones {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .botones .cantidad {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #343434;
  height: 35px;
  margin-right: 12px;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .botones .cantidad .mas {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 0.3px solid #000;
  cursor: pointer;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .botones .cantidad .mas:focus {
  outline: 0px;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .botones .cantidad .mas md-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px !important;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .botones .cantidad .valor {
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .botones .cantidad .valor p {
  color: #fff;
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .botones .cantidad .menos {
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.3px solid #000;
  cursor: pointer;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .botones .cantidad .menos:focus {
  outline: 0px;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .botones .cantidad .menos md-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 15px !important;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .botones .agregarCarrito {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ff6400;
  width: 230px;
  height: 35px;
  cursor: pointer;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .botones .agregarCarrito:focus {
  outline: 0px;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .botones .agregarCarrito img {
  width: 23px;
  height: 23px;
}
.producto section.producto-content .informacion .informacion-content md-list md-list-item .version .botones .agregarCarrito h1 {
  margin: 0;
  font-size: 16px;
  font-weight: bolder;
  color: #fff;
  margin-left: 5px;
}
section.alternativas {
  position: relative;
  margin: 3vh 10vw;
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
section.alternativas .slideralternativas-content {
  position: relative;
  height: 240px;
  width: 77%;
}
section.alternativas .slideralternativas-content .alternativas-slider-container {
  display: flex;
  flex-direction: row;
}
section.alternativas .slideralternativas-content .alternativas-slider-container .alternativas-slider-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.alternativas .slideralternativas-content .alternativas-slider-container .alternativas-slider-content:focus {
  outline: 0px;
}
section.alternativas .slideralternativas-content .alternativas-slider-container .alternativas-slider-content .alternativa {
  position: relative;
}
section.alternativas .slideralternativas-content .alternativas-slider-container .slick-prev:before,
section.alternativas .slideralternativas-content .alternativas-slider-container .slick-next:before {
  color: #ff6400 !important;
  font-size: 36px;
  font-family: inherit !important;
  font-weight: bolder;
  opacity: 1 !important;
}
section.alternativas .slideralternativas-content .alternativas-slider-container .slick-prev:before {
  content: "<" !important;
}
section.alternativas .slideralternativas-content .alternativas-slider-container .slick-next:before {
  content: ">" !important;
}
.linea-container {
  margin-top: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.linea-container .linea-separador-producto {
  width: 95%;
  opacity: 0.3;
  border: 1px solid #808080;
  margin-top: 10px;
  background-color: #808080;
}
md-backdrop.md-opaque {
  background-color: inherit !important;
  opacity: 0;
}
.md-dialog-container {
  -webkit-align-items: inherit !important;
  align-items: inherit !important;
  top: 13.5vh !important;
}
md-dialog {
  height: 30vh;
  box-shadow: inherit !important;
  background-color: inherit !important;
}
md-dialog .menu-dialogo {
  display: flex;
  flex-direction: column;
}
md-dialog .menu-dialogo .triangulito-container .triangulo {
  width: 0;
  height: 0;
  border-right: 9px solid transparent;
  border-top: 9px solid transparent;
  border-left: 9px solid transparent;
  border-bottom: 16px solid #fff;
}
md-dialog .menu-dialogo .datos {
  background-color: #fff;
  height: 100%;
}
