transition(duracion, delay)
	-webkit-transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
	transition all duracion cubic-bezier(0.445, 0.050, 0.550, 0.950)
	-webkit-transition-delay delay ease-in-out
	transition-delay delay ease-in-out

animation(animation, duration = 1s, delay = 0s)
	-webkit-animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950)
	animation animation duration cubic-bezier(0.445, 0.050, 0.550, 0.950)
	-webkit-transition all duration ease-in-out
	-moz-transition all duration ease-in-out
	-o-transition all duration ease-in-out
	transition all duration ease-in-out
	-webkit-transition-delay delay ease-in-out
	transition-delay delay ease-in-out

naranja = #ff6400
negro = #343434

main
	position relative
	min-height 100vh
	overflow-x hidden
	background-color white
.nav
	display flex
	justify-content center
	align-items center
	.nav-content
		display flex
		flex-direction row
		justify-content space-between
		align-items center
		width 60%
		.logo
			width 80px
			height 80px
			margin-top 15px
			cursor pointer
			&:focus
				outline 0px
			img
				width 100%
				height 100%
		.busqueda
			display flex
			flex-direction row
			justify-content center
			align-items center
			width 50%
			md-icon
				color naranja
			md-autocomplete
				margin-left 10px
				input:not(.md-input)
					font-size 19px
		.botones
			display flex
			flex-direction row
			justify-content center
			align-items center
			.sesion
				width 68px
				height 40px
				margin-right 15px
				margin-left 10px
				cursor pointer
				&:focus
					outline 0px
				p
					font-size 12px
					text-align justify
			.linea
				height 30px
				border 0.5px solid gray
			.carrito
				background-color naranja
				width 36px
				height 30px
				display flex
				justify-content center
				align-items center
				min-width inherit
				min-height inherit
				margin 2px
				margin-left 15px
				img
					height 25px
			.contador
				background-color negro
				width 30px
				height 30px
				display flex
				justify-content center
				align-items center
				h3
					color white
.subnav
	display flex
	flex-direction row
	justify-content center
	align-items center
	height 54px
	background-color  naranja
	.md-button
		span
			color white
			font-size 14px
			font-weight bolder
footer
	background-color naranja
	.contenedor-abajo
		display flex
		flex-direction  row
		justify-content space-between
		align-items center
		.copyrigth
			display flex
			flex-direction column
			margin-left 30px
			p
				color white
				font-size 11px
				margin 5px
			.aviso
				display flex
				flex-direction row
				justify-content flex-start
				.md-button
					min-height inherit
					min-width inherit
					line-height inherit
					margin 0 !important
					margin-top 5px
					span
						font-size 11px
						color white
						text-transform capitalize
				.linea-abajo
					margin-top 1px
					height 8px
					border 0.5px solid white
		.contactos
			display flex
			flex-direction row
			justify-content space-between
			align-items center
			width 25%
			margin-right 10vw
			.correo, .telefono
				display flex
				flex-direction row
				justify-content center
				align-items center
				p
					margin 0px
					color white
					font-size 14px
					font-weight bolder
		.imagen
			background-color white
			width 10%
			display flex
			justify-content center
			align-items center

//CSS DEL HOME
.home-container
	.home-content
		.sliderSub-content
			position relative
			background-color negro
			height 450px
			.promocion-slider-container
				display flex
				flex-direction row
				.promocion-slider-content
					display flex
					flex-direction column
					justify-content center
					align-items center
					&:focus
						outline 0px
					.promocion
						display flex
						flex-direction column
						justify-content center
						align-items center
						width 80%
						height 100%
						h1
							color white
							font size 50px
						.botones
							display flex
							flex-direction row
							justify-content space-between
							align-items center
							width 24%
							.md-button
								width 133px
								min-height inherit
								min-width inherit
								line-height 28px
								background-color naranja
								span
									font-size 14px
									color white
									font-weight bolder
									text-transform capitalize
			.slick-dots
				bottom 11px !important
			.slick-dots li.slick-active button:before
				color naranja !important
				opacity inherit !important
			.slick-dots li button:before
				opacity inherit !important
				color white !important
		.promociones-container
			position relative
			.promociones-content
				position relative
				margin 3vh 10vw
				width 80vw
				.linea-promos
					width 100%
					opacity 0.3
					border 0.5px solid gray
				.titulo
					margin-top 10px
					display flex
					flex-direction row
					justify-content flex-start
					align-items center
					h1
						font-size 50px
						color naranja
						font-weight 400
						margin 0
						margin-left 2px
				.promo-container
					display flex
					flex-direction row
					justify-content space-between
					align-items center
					margin-top 2vh
					.promo-content
						display flex
						flex-direction column
						width 48%
						.imagen-promo
							background-color gray
							height 25%
						.informacion-promo
							display flex
							flex-direction row
							justify-content space-between
							align-items center
							.descripcion
								height 80px
								width 1445px
								display flex
								justify-content center
								align-items center
								border 0.5px solid gray
								margin-top 2vh
								margin-right 5px
								.texto
									width 75%
									margin-right 60px
									p
										font-size 12px
										text-align justify
							.cuadrado
								background-color naranja
								width 310px
								height 80px
								margin-top 2vh
								margin-left 5px

		.categorias-container
			margin-top 4vh
			position relative
			.categorias-content
				position relative
				margin 3vh 10vw
				width 80vw
				display flex
				justify-content center
				align-items center
				flex-direction column
				.linea-categorias
					width 100%
					opacity 0.3
					border 0.5px solid gray
				.titulo
					margin 2vh
					width 100%
					h1
						font-size 50px
						color negro
						font-weight 600
						margin 0
				.sliderCategorias-content
					position relative
					height 240px
					width 77%
					.categorias-slider-container
						display flex
						flex-direction row
						.categorias-slider-content
							display flex
							flex-direction column
							justify-content center
							align-items center
							&:focus
								outline 0px
							.categoria
								width 90%
								height 100%
								.imagen-categoria
									display flex
									height 200px
									justify-content center
									align-items center
									border 1px solid naranja
									h1
										font-size 14px
										text-align center
								.ver-mas
									width 100%
									.md-button
										width 100%
										margin inherit !important
										min-height inherit
										min-width inherit
										line-height 29px
										background-color naranja
										border-radius inherit !important
										span
											font-size 14px
											color white
											text-transform capitalize
											font-weight bolder
						.slick-prev:before, .slick-next:before
							color naranja !important
							font-size 36px
							font-family inherit !important
							font-weight bolder
							opacity 1 !important

						.slick-prev:before
							content "<" !important
						.slick-next:before
							content ">" !important
		.mas-vendidos-container
			position relative
			.mas-vendidos-content
				position relative
				margin 3vh 10vw
				width 80vw
				.linea-mas-vendidos
					width 100%
					opacity 0.3
					border 0.5px solid gray
				.titulo
					margin 2vh
					width 100%
					h1
						font-size 50px
						color negro
						font-weight 600
						margin 0
				.grid-vendidos-container
					display flex
					flex-direction column
					.grid-vendidos-arriba
						margin-bottom 15px
					.grid-vendidos-abajo
						margin-top 15px
					.grid-vendidos-arriba, .grid-vendidos-abajo
						display flex
						flex-direction row
						height 25%
						&>*
							transition(300ms , 0)
						.vendidos-content
							background-color gray
							width 100%
							cursor pointer
							overflow hidden
							position relative
							&:focus
								outline 0px
							&:hover
								transform scale(1.048)
							.imagen-vendidos
								display flex
								flex-direction column
								justify-content center
								align-items center
								background-color gray
								width 100%
								height 100%
							.botones-vendidos
								position absolute
								bottom 1px
								width 100%
								height 66px
								display flex
								flex-direction row
								justify-content space-between
								align-items center
								background-color negro
								.info-content
									display flex
									flex-direction row
									justify-content flex-start
									align-items center
									.descripcion
										margin-left 24px
										width 60%
										p
											font-size 12px
											color white
									.boton-vermas
										.md-button
											min-height inherit
											min-width inherit
											line-height 28px
											span
												color white
												font-size 14px
												text-transform capitalize
												font-weight bolder

								.carrito-vendidos
									width 15%
									.md-button
										width 100%
										height 100%
										min-height inherit
										min-width inherit
										line-height 28px
										background-color naranja
										display flex
										justify-content center
										align-items center
										img
											margin-right 8px
											height 33px

//CSS DE PRODUCTOS GENERAL
.productos
	position relative
	.barra-nombres-container
		height 56px
		width 100%
		background-color negro
		.barra-nombres-content
			height 56px
			margin 0vh 10vw
			display flex
			flex-direction row
			align-items center
			p
				color white

			.md-button
				min-height inherit
				min-width inherit
				width 36px
				height 30px
				img
					height 25px

	.productos-content
		position relative
		margin 3vh 10vw
		width 80vw
		display flex
		flex-direction row
		.filtro
			width 350px
			background-color white
			padding 0px 10px
			border-right 1px solid rgba(0, 0, 0, 0.1)
			.linea-productos
				width 100%
				opacity 0.3
				border 1.5px solid gray
				margin-top 10px
				background-color gray
			h4
				font-size 20px
				font-weight bolder
				margin 0
			.categorias-panel
				margin-top 20px
				md-expansion-panel-group
					md-expansion-panel-collapsed, md-expansion-panel-header, .md-expansion-panel-header-container
						height 50px
						min-height 50px
					md-expansion-panel
						box-shadow inherit
						margin 0px
						md-expansion-panel-header
							width 100%
							.md-expansion-panel-header-container
								padding 0px
								md-icon
									margin 0px 5px
								.md-title
									font-size 16px
						md-expansion-panel-collapsed
							padding 0px
							md-expansion-panel-header
								.md-expansion-panel-header-container
									background-color naranja
									.md-title
										color white
						md-expansion-panel-expanded
							md-expansion-panel-header
								.md-expansion-panel-header-container
									border none
									background-color naranja
									.md-title
										padding-left 20px
										color white
							md-expansion-panel-content
								padding 0px
								md-list
									md-list-item, .md-list-item-inner
										height 20px
										min-height 20px
										.md-list-item-text
											display flex
											align-items center
											line-height 20px
											md-checkbox
												margin 0 5px
											md-checkbox, .md-container, .md-icon
												min-height 13px
												min-width 13px
												height 13px
												width 13px
												.md-icon
													&:after
														left 2.66667px
														top .22222px
														height 8.33333px
														width 4.66667px
											md-checkbox.md-checked .md-icon
												background-color rojo1
											.color
												height 15px
												width 15px
												margin 0 3px
												border 1px solid rgba(0, 0, 0 .1)
											span
												font-size 12px
										md-checkbox
											margin 0px
							md-expansion-panel-footer
								.md-expansion-panel-footer-container
									border none
									display flex
									justify-content center
									.md-button
										margin 0px
										min-width 0px
										width 100%
										height 20px
										md-icon
											color naranja
											transform scale(1.3)
		.grid-container
			margin-left 50px
			display flex
			flex-direction column
			width 100%
			margin-bottom 50px
			.titulo
				margin-top 19px
				display flex
				flex-direction column
				justify-content flex-start
				h4
					font-size 20px
					font-weight bolder
					margin 0
				.cabecera
					display flex
					flex-direction row
					justify-content flex-start
					.md-button
						margin-top 20px !important
						min-height inherit
						min-width inherit
						background-color naranja
						color white
						margin 0
						height 40px
						width 50px
						border-radius inherit !important
						md-icon
							color white
							font-size 27px
							font-weight 600
					.ordenamiento
						margin-top 20px
						position relative
						display block
						width 20em
						height 2.5em
						line-height 3
						background negro
						overflow hidden
						border-radius .25em
						select
							appearance none
							outline 0
							box-shadow none
							border 0 !important
							background negro
							background-image none
							width 100%
							height 100%
							margin 0
							padding 0 0 0 .5em
							color #fff
							cursor pointer
							font-size 18px
							font-weight bolder
						&:hover::after
							color naranja
						&::after
							transition .25s all ease
							content '\25BC'
							color white
							position absolute
							top 0
							right 0
							bottom:0
							padding 0 1em
							background #262626
							pointer-events none
			.paginas-container
				display flex
				flex-direction row
				justify-content space-between
				align-items center
				.total-paginas
					p
						font-size 16px
						color gray
				.resultados
					display flex
					flex-direction row

					h4
						font-size 16px
						font-weight bolder
						margin-right 16px
					.select-paginas
						margin-top 13px
						position relative
						display block
						width 104px
						height 32px
						line-height 3
						border .7px solid naranja
						overflow hidden
						select
							appearance none
							outline 0
							box-shadow none
							border 0 !important
							background transparent
							background-image none
							width 100%
							height 100%
							margin 0
							padding 0 0 0 .5em
							cursor pointer
							font-size 18px
						&::after
							transition .25s all ease
							content '\25BC'
							display flex
							background-color white
							justify-content center
							align-items center
							position absolute
							top 0
							right 0
							bottom:0
							padding 0 1em
							border-left .7px solid naranja
							border-top .7px solid naranja
							border-right .7px solid naranja
							pointer-events none
							width 10px
			.grid-content
				margin 30px
				margin-bottom 100px
				.grid-productos
					display grid
					grid-template-columns repeat(4, 230px)
					grid-row-gap 10px
					grid-column-gap 10px
				md-grid-list
					width 120%
					md-grid-tile
						transition(250ms, 0)
						overflow hidden
						cursor pointer
						.producto-container
							padding 10px
							width 100%
							height 100%
		cl-paging
			width 100%
			display flex
			justify-content flex-end
			.paginacion
				.md-button
					display flex
					justify-content center
					justify-content center
					max-width 40px
					md-icon
						color white
					&.page
						background-color negro
						span
							color white
							font-size 14px
							font-weight bolder
					&.first, &.last
						background-color naranja !important

.barra-nombres-container
	height 56px
	width 100%
	background-color negro
	.barra-nombres-content
		height 56px
		margin 0vh 10vw
		display flex
		flex-direction row
		align-items center
		p
			color white

		.md-button
			min-height inherit
			min-width inherit
			width 36px
			height 30px
			img
				height 25px
producto
	.producto-content
		background-color white
		border 1px solid rgba(0, 49, 67, 1)
		portada
			.portada
				height 220px
				width 98%
				display flex
				justify-content center
				img
					margin-top 2px
					height 100%
		.titulo-producto
			margin-top 5px
			width 90%
			margin-left 15px
			h1
				margin 0
				font-family Poopins
				font-size 12px
				line-height 15px
		.info-basica
			display flex
			flex-direction column
			justify-content center
			align-items center
			.informacion
				display flex
				flex-direction column
				justify-content flex-start
				padding 15px
				.nombre
					h4
						margin 0
						font-size 11px
						font-weight bolder
				.precio
					h1
						margin 0
						font-size 22px
		.version-container
			display grid
			grid-template-columns repeat(3, 1fr)
			grid-row-gap 8px
			width 90%
			margin-bottom 10px
			.version
				.md-button
					min-height inherit
					min-width inherit
					line-height inherit
					margin 0 !important
					transition(100ms , 0)
					span
						font-size 13px
						font-weight bolder
						text-transform lowercase
					&:hover, &.active
						background-color negro
						span
							color white
					.opcion
						&:focus
							outline 0px



		.boton
			display flex
			justify-content center
			align-items center
			margin-bottom 7px
			width 90%
			.md-button
				background-color naranja
				color white
				margin 0px
				min-height 20px
				height 27px
				min-width inherit
				line-height 20px
				width 100%
				border-radius inherit !important
				display flex
				justify-content center
				align-items center
				span
					font-size 13px
					text-transform lowercase
					font-weight bolder
.producto
	.slick-slider
		.slick-arrow
			height 40px
			width 40px
	section
		&.producto-content
			display flex
			flex-direction row
			margin-top 100px
			justify-content space-around
			.imagenes
				border 1px solid black
				width 620px
				height 450px
				min-width 500px
				display flex
				flex-direction row
				position relative
				background-color white
				.portada, .imagen
					cursor pointer
					&:focus
						outline 0px
					&:hover
						img
							transform scale(1.1)
					img
						transition(400ms , 0)

				#central
					width calc(100% - 200px)
					height auto
					.slick-slide, .portada, .imagen
						display flex
						justify-content center
						img
							height 100%
							width auto

				#slider
					width 80px !important
					margin-top 5px
					.slick-dots
						padding 0px
						bottom 0px
						li button:before
							content none
					.slick-slide, .portada, .imagen
						max-height 80px

				#botones-versiones
					.version
						.md-button
							background-color negro
							border-radius inherit !important
							line-height inherit
							transition(150ms , 0)
							span
								color white
								font-size 13px
								font-weight bolder
								text-transform lowercase
								margin 0
							&:hover, &.active
								background-color naranja
							.opcion
								&:focus
									outline 0px


			.informacion
				width 45%
				display flex
				flex-direction row
				.informacion-content
					width 100%
					.arriba
						display flex
						flex-direction row
						justify-content flex-start
						.marca
							margin-right 10px
							h1
								font-size 15px
								font-weight bolder
						.codigo
							margin-right 10px
							p
								font-size 13px
								color gray
								font-weight bolder
						.modelo
							p
								font-size 13px
								color gray
								font-weight bolder
					.abajo
						.nombre-version
							margin-top 10px
							width 65%
							margin-bottom 20px
							h1
								margin 0px
								color negro
								font-size 35px
								font-weight 100

						.version
							width 100%
							display flex
							flex-direction column
							.precio
								display flex
								justify-content flex-start
								h3
									color naranja
									font-weight bolder
									font-size 40px
									margin 0
									margin-top 10px
							.botones
								margin-top 25px
								display flex
								flex-direction row
								align-items center
								justify-content flex-start
								.cantidad
									display flex
									flex-direction row
									justify-content center
									align-items center
									background-color negro
									height 40px
									width 85px
									margin-right 12px
									.mas
										display flex
										justify-content center
										align-items center
										border-right .3px solid black
										cursor pointer
										&:focus
											outline 0px
										md-icon
											display flex
											justify-content center
											align-items center
											color white
											font-size 20px !important

									.valor
										width 30px
										display flex
										justify-content center
										align-items center
										p
											color white
											margin 0
											font-size 18px
											font-weight 600
									.menos
										display flex
										justify-content center
										align-items center
										border-left .3px solid black
										cursor pointer
										&:focus
											outline 0px
										md-icon
											display flex
											justify-content center
											align-items center
											color white
											font-size 20px !important

								.agregarCarrito
									display flex
									flex-direction row
									justify-content center
									align-items center
									background-color naranja
									width 330px
									height 40px
									cursor pointer
									&:focus
										outline 0px
									img
										width 23px
										height 23px
									h1
										margin 0
										font-size 16px
										font-weight bolder
										color white
										margin-left 5px
section.alternativas
	position relative
	margin 3vh 10vw
	width 80vw
	display flex
	justify-content center
	align-items center
	flex-direction column
	.slideralternativas-content
		position relative
		height 450px
		width 75%
		.alternativas-slider-container
			display flex
			flex-direction row
			.alternativas-slider-content
				display flex
				flex-direction column
				justify-content center
				align-items center
				&:focus
					outline 0px
				.alternativa
					position relative
					width 73%
			.slick-prev:before, .slick-next:before
				color naranja !important
				font-size 36px
				font-family inherit !important
				font-weight bolder
				opacity 1 !important

			.slick-prev:before
				content "<" !important
			.slick-next:before
				content ">" !important
.linea-container
	margin-top 50px
	width 100%
	display flex
	justify-content center
	align-items center
	.linea-separador-producto
		width 95%
		opacity 0.3
		border 1px solid gray
		margin-top 10px
		background-color gray

section.caracteristicas
	display flex
	justify-content center
	align-items center
	width 100%
	height 300px
	.caracteristicas-content
		width 80%
		height 100%
		display flex
		flex-direction column
		.seccion-arriba
			width 100%
			height 40px
			display flex
			flex-direction row
			justify-content space-between
			align-items center
			.derecha
				display flex
				flex-direction row
				justify-content space-between
				align-items center
				width 48%
				.titulo
					height 100%
					width 91%
					background-color naranja
					h1
						margin-left 10px
						color white
						font-size 16px
						font-weight bolder
				.cuadro
					height 100%
					background-color negro
					width 40px
			.izquierda
				width 48%
				display flex
				flex-direction row
				justify-content space-between
				align-items center
				.titulo
					height 100%
					width 91%
					background-color negro
					h1
						margin-left 10px
						color white
						font-size 16px
						font-weight bolder
				.cuadro
					height 100%
					background-color naranja
					width 40px
		.linea-container-alternativas
			width 100%
			display flex
			justify-content center
			align-items center
			margin-top 10px
			.linea-separador-alternativas
				width 95%
				opacity 0.3
				border 1px solid gray
				margin-top 5px
				background-color gray

		.seccion-abajo
			width 100%
			height 40px
			display flex
			flex-direction row
			justify-content space-between
			.tabla-derecha, .tabla-izquierda
				margin-top 15px
				width 48%
				height 100%
				.peso, .dimensiones, .numeros, .color
					display flex
					flex-direction row

					.div
						width 50%
						border-top .1px solid gray
						background-color negro
						p
							color white
							margin 5px
							font-size 12px
					.div-2
						width 50%
						border-top .1px solid gray
						border-right .1px solid gray

						p
							font-size 12px
							margin 10px
					.div-2#ultimo
						border-bottom .1px solid gray
// CSS DEL DIALOGO EN EL SUBNAV
md-backdrop.md-opaque
	background-color inherit !important
	opacity 0
.md-dialog-container
	-webkit-align-items inherit !important
	align-items inherit !important
	top 13.5vh !important
md-dialog
	height 30vh
	box-shadow inherit !important
	background-color inherit !important
	.menu-dialogo
		display flex
		flex-direction column
		.triangulito-container
			.triangulo
				width 0
				height 0
				border-right 9px solid transparent
				border-top 9px solid transparent
				border-left 9px solid transparent
				border-bottom 16px solid white
		.datos
			background-color white
			height 100%
