

@font-face
	font-family Poopins
	font-weight 400
	src url('../fonts/Poppins-Bold.ttf')


@font-face
	font-family Poopins
	font-weight 100
	src url('../fonts/Poppins-Light.ttf')


@font-face
	font-family Poopins
	font-weight 200
	src url('../fonts/Poppins-Medium.ttf')

@font-face
	font-family Poopins
	font-weight 300
	src url('../fonts/Poppins-SemiBold.ttf')



@font-face
	font-family Calibri
	font-weight 400
	src url('../fonts/calibri/Calibri.ttf')

@font-face
	font-family Calibri
	font-weight 800
	src url('../fonts/calibri/CALIBRIB.ttf')


header
	height 100px
	.menu
		display inline-flex
		.navbutton
			padding: 12px

.centro
	min-height calc(100vh - 150px)

md-dialog
	width 50vw

.layout-row>div
	max-height inherit !important
