.contenedor-abajo
    .copyrigth
        p Copyrigth ® 2018 Ferremar. Todos los derechos reservados
        .aviso
            md-button Aviso de privacidad
            .linea-abajo
            md-button Términos y condiciones
    .contactos
        .correo
            img(src="img/ferremar_correo.png")
            p ferremar@outlook.com
        .telefono
            img(src="img/ferremar_telefono.png")
            p (229) 286 20 03
    .imagen
        .logo-abajo
            img(src="img/ferremar_logo.png")
