.compras-container
	.compras-content
		.encabezado
			md-list(layout="row")
				md-list-item
					md-button Direccion
				md-list-item
					md-button Envio
				md-list-item
					md-button Pago
				md-list-item
					md-button Confirmacion
		.vistas
			main(ui-view="main")