.ambiente
    h1 Espacio
    section.ambiente-content
        .espacio()
            canvas#coordenadas(width="{{ctrl.medidas.width}}" height="{{ctrl.medidas.height}}")
            canvas#background(width="{{ctrl.medidas.width}}" height="{{ctrl.medidas.height}}")
