.historial(layout="row" layout-align="center" style="height: 100vh; width : 80vw")
	.historial-container(flex="90")
		h1 Mis pedidos
		.fechas
			md-button(style="background-color:red; border-radius:10px") Ultimos 3 meses
			md-button(style="background-color:red; border-radius:10px") Ultimos 6 meses
			md-button(style="background-color:red; border-radius:10px") 2018
			md-button(style="background-color:red; border-radius:10px") 2017

		h3 Mostrando 1 de 1 pedidos
		md-card
			md-table-container
				table(md-table md-row-select multiple)
					thead(md-head)
						tr(md-row)
							th(md-column) Fecha:
							th(md-column) Estado:
							th(md-column) No. de pedido:
							th(md-column) total:
							th(md-column) ver detalle ^
					tbody(md-body)
						tr(md-row md-select="dato" md-select-id="name" md-auto-select ng-repeat="orden in ctrl.ordenes.items")
							td(md-cell)
								p {{orden.createdAt}}
							td(md-cell)
								p {{orden.IdStatus}}
							td(md-cell)
								p CP123456
							td(md-cell)
								p $12,000
