.home-container
    .home-content            
        .sliderSub-content
            .promocion-slider-container
                .promocion-slider-content(ng-repeat='promocion in ctrl.promociones.items')
                    .promocion
                        h1 {{promocion.promo}}
                        .botones
                            md-button comprar
                            md-button ver detalles
        .promociones-container
            .promociones-content
                .linea-promos
                .titulo
                    img(src="img/ferremar_logo_icono.png")
                    h1 Promociones
                .promo-container
                    .promo-content
                        .imagen-promo
                        .informacion-promo
                            .descripcion
                                .texto
                                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora sint quae, perspiciatis aut dolorum reiciendis
                            .cuadrado
                    .promo-content
                        .imagen-promo
                        .informacion-promo
                            .descripcion
                                .texto
                                    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora sint quae, perspiciatis aut dolorum reiciendis
                            .cuadrado
        .categorias-container
            .categorias-content
                .linea-categorias
                .titulo
                    h1 Categorias
                .sliderCategorias-content
                    .categorias-slider-container
                        .categorias-slider-content(ng-repeat='categoria in ctrl.categorias.items')
                            .categoria
                                .imagen-categoria
                                    h1 {{categoria.nombre}}
                                .ver-mas
                                    md-button ver más +
        .mas-vendidos-container
            .mas-vendidos-content
                .linea-mas-vendidos
                .titulo
                    h1 Más Vendidos
                .grid-vendidos-container
                    .grid-vendidos-arriba
                        .vendidos-content(style="margin-right: 15px")
                            .imagen-vendidos
                                img(src="img/ferremar_logo_icono.png")
                            .botones-vendidos
                                .info-content
                                    .descripcion
                                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum iste vel reprehenderit, reiciendis laboriosam it.
                                    .boton-vermas
                                        md-button ver más >
                                .carrito-vendidos
                                    md-button
                                        img(src="img/ferremar_carrito.png")
                        .vendidos-content(style="margin-left: 15px")
                            .imagen-vendidos
                                img(src="img/ferremar_logo_icono.png")
                            .botones-vendidos
                                .info-content
                                    .descripcion
                                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum iste vel reprehenderit, reiciendis laboriosam it.
                                    .boton-vermas
                                        md-button ver más >
                                .carrito-vendidos
                                    md-button
                                        img(src="img/ferremar_carrito.png")
                    .grid-vendidos-abajo
                        .vendidos-content(style="margin-right: 15px")
                            .imagen-vendidos
                                img(src="img/ferremar_logo_icono.png")
                            .botones-vendidos
                                .info-content
                                    .descripcion
                                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum iste vel reprehenderit, reiciendis laboriosam it.
                                    .boton-vermas
                                        md-button ver más >
                                .carrito-vendidos
                                    md-button
                                        img(src="img/ferremar_carrito.png")
                        .vendidos-content(style="margin-left: 15px")
                            .imagen-vendidos
                                img(src="img/ferremar_logo_icono.png")
                            .botones-vendidos
                                .info-content
                                    .descripcion
                                        p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum iste vel reprehenderit, reiciendis laboriosam it.
                                    .boton-vermas
                                        md-button ver más >
                                .carrito-vendidos
                                    md-button
                                        img(src="img/ferremar_carrito.png")
                    
                
