.productos
	.barra-nombres-container
		.barra-nombres-content
			md-button
				img(src="img/ferremar_home.png")
			p > Productos
	.productos-content
		.filtro
			h4 COMPRAR POR
			.linea-productos
			.categorias-panel
				md-expansion-panel-group(md-component-id="filtros" multiple="true")
					md-expansion-panel(md-component-id="precios")
						md-expansion-panel-collapsed
							md-expansion-panel-header
								md-expansion-panel-icon
								.md-title Categoria
						md-expansion-panel-expanded
							md-expansion-panel-header
								.md-title Categoria
							md-expansion-panel-content
								
							md-expansion-panel-footer
								md-button(ng-click="$panel.collapse()")
									md-icon keyboard_arrow_up
					md-expansion-panel(md-component-id="{{modulo.nombre}}" ng-repeat="modulo in ctrl.modulos.items")
						md-expansion-panel-collapsed
							md-expansion-panel-header
								md-expansion-panel-icon
								.md-title {{ modulo.nombre }}
						md-expansion-panel-expanded
							md-expansion-panel-header
								.md-title {{ modulo.nombre }}
							md-expansion-panel-content
								md-list
									md-list-item(ng-repeat="item in modulo.items")
										.md-list-item-text
											md-checkbox(ng-model="item.check" ng-change="item.cambio(modulo)" aria-label="{{item.nombre}}")
											.color(ng-if="modulo.nombre === 'Colores'" style="background-color : {{ item.hex }}")
											span {{ item.nombre }}
							md-expansion-panel-footer
								md-button(ng-click="$panel.collapse()")
									md-icon keyboard_arrow_up
		.grid-container
			.titulo
				h4 HERRAMIENTAS
				.cabecera
					.ordenamiento
						select
							option Ordenar por:
							option Categoria
							option Marca
							option Color
					md-button
						md-icon call_made
			.paginas-container
				.total-paginas
					p Productos: (1-20 de 87)
				.resultados
					h4 Resultados por página:
					.select-paginas
						select
							option 20
							option 30
							option 40
							option 50
			md-progress-linear(md-mode="indeterminate" ng-if="!ctrl.productos.items" ng-disabled="ctrl.productos.items")
			.grid-content
				md-progress-linear(md-mode="indeterminate" ng-disabled="ctrl.productos.items.length > 0" ng-if="ctrl.productos.items.length === 0")
				md-grid-list(md-cols-xs="{{ctrl.productos.col.xs}}" md-cols-sm="{{ctrl.productos.col.sm}}" md-cols-md="{{ctrl.productos.col.md}}" md-cols-lg="{{ctrl.productos.col.lg}}" md-cols-xl="{{ctrl.productos.col.xl}}" md-row-height-xs="{{ctrl.productos.height.xs}}" md-row-height-sm="{{ctrl.productos.height.sm}}" md-row-height-md="{{ctrl.productos.height.md}}" md-row-height-lg="{{ctrl.productos.height.lg}}" md-row-height-xl="{{ctrl.productos.height.xl}}"  md-gutter="{{ ctrl.productos.gutter }}" ng-if="ctrl.productos.items")
					md-grid-tile(md-colspan="{{producto.forma.width}}" md-rowspan="{{producto.forma.height}}" ng-repeat="producto in ctrl.productos.items" ng-init="hover = false"    ng-class="hover ? 'conHover' : 'sinHover'")
						.producto-container
							producto(producto="producto" conector="resize(id, $index)")
							
			cl-paging(cl-pages="ctrl.productos.filtros.paginas" cl-steps="6" cl-page-changed="ctrl.productos.obtener()" cl-align="start start" cl-current-page="ctrl.productos.filtros.pagina")
