md-progress-linear(md-mode="indeterminate" ng-if="!ctrl.producto" ng-disabled="ctrl.producto")
.barra-nombres-container
	.barra-nombres-content
		md-button
			img(src="img/ferremar_home.png")
		p > Productos
		p > Broca
.producto-container(layout="row" layout-align="center center")
	.producto(flex="80")
		section.producto-content
			.imagenes
				#slider
					.portada
						portada(id="ctrl.producto.id" conector="ctrl.producto.resize(id)" ng-if="ctrl.producto")
					.imagen(ng-repeat="imagen in ctrl.producto.imagenes" )
						imagen(id="imagen.id" conector="ctrl.producto.resize(id)")
				#central
					.portada
						portada(id="ctrl.producto.id" ng-if="ctrl.producto")
					.imagen(ng-repeat="imagen in ctrl.producto.imagenes")
						imagen(id="imagen.id" )
				#botones-versiones
					.version(ng-repeat="version in ctrl.producto.versiones" ng-if="ctrl.producto.versiones")
						.opciones
							md-button.opcion(ng-repeat="opcion in version.opciones")
								span {{opcion.nombre}}
				
			.informacion
				.informacion-content
					.arriba
						.marca
							h1 DEWALT
						.codigo
							p SKU#987463
						.modelo
							p MODELO: DEWALT 789456
					.abajo
						.nombre-version
							h1 {{ctrl.producto.nombre}}
							//strong {{ctrl.producto.marca.nombre}}
						.version
							.precio
								//h3 $ {{version.precio}}
								h3 $200
							.botones
								.cantidad
									.mas(ng-click="ctrl.contador.cuenta('mas')")
										md-icon add
									.valor
										p {{ctrl.contador.cantidad}}
									.menos(ng-click="ctrl.contador.cuenta('menos')")
										md-icon remove
								.agregarCarrito
									img(src="img/ferremar_carrito.png")
									h1 Agregar al carrito
.linea-container
	.linea-separador-producto
	
section.alternativas
	.slideralternativas-content
		.alternativas-slider-container
			.alternativas-slider-content(ng-repeat="alternativa in ctrl.alternativas.items")
				.alternativa
					producto(producto="alternativa")
section.caracteristicas
	.caracteristicas-content
		.seccion-arriba
			.derecha
				.titulo
					h1 Especificaciones técnicas
				.cuadro
			.izquierda
				.titulo
					h1 Información adicional
				.cuadro
		.linea-container-alternativas
			.linea-separador-alternativas
		.seccion-abajo
			.tabla-derecha
				.peso
					.div
						p Peso del producto
					.div-2
						p 132g
				.dimensiones
					.div
						p Dimensiones del producto
					.div-2
						p 15x79x1.3 cm
				.numeros
					.div
						p Número de modelo del producto
					.div-2
						p 775-55143
				.color
					.div
						p Color
					.div-2#ultimo
						p negro
			.tabla-izquierda
				.peso
					.div
						p Peso del producto
					.div-2
						p 132g
				.dimensiones
					.div
						p Dimensiones del producto
					.div-2
						p 15x79x1.3 cm
				.numeros
					.div
						p Número de modelo del producto
					.div-2
						p 775-55143
				.color
					.div
						p Color
					.div-2#ultimo
						p negro
